*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* utilities */
:root{
    --bg-footer:#4A4A4A;
}
.d-flex{
    display: flex;
}
.j-end{
    justify-content: flex-end;
}
.j-start{
    justify-content: flex-start;
}
.al-cent{
    align-items: center;
}
.al-start{
    align-items: flex-start;
}
.f-flow{
    flex-flow: row wrap;
}
.j-bet{
    justify-content: space-between;
}
.flow-col{
    flex-flow: column;
}
.green{
    color: #4BC800;
}
.pad{
    padding: 3px;
}
/* body */
body{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}
/* header */

.content{
    color: white;
    padding: 2px 5px 2px 5px;
    background-color: var(--bg-footer);
    border-radius: 5px;
    margin-right: 6px;
    line-height: 21px;
    margin-top: 5px;
    font-size: 0.6vw;
}


/* main */
/* main{
    height: calc(100vh - (/* footer + header */ /* 32px + 80px + ( *//* margins *//*  40px))); */
/* } */
main .container{
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 40px;
}

.person.wrapper img{
    width: 100%;
    display: block;
}
.person.wrapper{
    margin: 5px 5px;
    width: calc((100% / 7) - 10px);
    position: relative;
}

main .infos{
    color: white;
    background-color: var(--bg-footer);
    width: fit-content;
    padding: 2px 5px 2px 5px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(50, 50, 50, 0.5);
    font-size: 1vw;
}
/* footer */
footer{
    background-color: #222222;
    position: absolute;
    bottom: 0px;
    height: 3.7vw;
    width: 100%;
}
.footer-wrap .icon{
    font-size: 1.5vw;
}
.footer-wrap{
    color: white;
}
footer .btn-pad{
    padding:10px;
}
.left-icon-wrap{
    padding-left: 20px;
}
.btn-options{
    padding: 5px 0px 0px 8px;
}
.option{
    margin-top: 2px;
    font-size: 0.8vw;
}
.exits span{
    background-color: var(--bg-footer);
    padding:10px 20px;
    line-height: 53px;
    color: red;
}
#exits{
    padding: 0px;
    height: 75px;
}
